{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="languagepicker-inner">
    <div class="languagepicker-title">
        <div class="languagepicker-title-inner" role="heading">
            {{{compile displayTitle }}}
        </div>
    </div>
    <div class="languagepicker-body">
        <div class="languagepicker-body-inner">
            {{{cmopile body }}}
        </div>
    </div>
    <div class="languagepicker-languages">
        {{#each _languages}}
            <button class="languagepicker-language {{_language}}" value="{{_language}}">
                {{{compile displayName }}}
            </button>
        {{/each}}
    </div>
</div>