{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div class="languagepicker-drawer">
  {{{a11y_aria_label _globals._extensions._languagePicker.languageSelector}}}

  <div class="languagepicker-drawer__inner" role="list">

    {{#each _languages}}
    <div class="languagepicker-drawer__item drawer__item is-{{_language}}{{#if _isSelected}} is-selected{{/if}}{{#equals _direction "ltr"}} is-ltr{{/equals}}{{#equals _direction "rtl"}} is-rtl{{/equals}}" role="listitem">

        <button class="languagepicker-drawer__item-btn drawer__item-btn js-languagepicker-item-btn{{#any _isSelected _isDisabled}} is-disabled{{/any}}" data-language="{{_language}}"{{#any _isSelected _isDisabled}} aria-disabled="true" tabindex="-1"{{/any}}{{#if _isSelected}} aria-current='true'{{/if}} lang="{{_language}}">
          <span class="languagepicker-drawer__title drawer__item-title">
            <span class="languagepicker-drawer__title-inner drawer__item-title-inner">
              {{{compile displayName}}}
            </span>
          </span>
        </button>

    </div>

    {{/each}}
  </div>

</div>
